.contact {
    grid-column: center-start / center-end;

    &__content {
        flex-direction: column;
        align-items: center;

        &--socials {
            display: flex;
            width: 40%;
            justify-content: space-evenly;
            margin-top: 1.5rem;

            @include media-small {
                width: 100%;
            }

            a:link,
            a:active,
            a:visited {
                color: black;
            }

            i {
                cursor: pointer;

                &:hover {
                    color: color(secondary-color);
                }
            }
        }
    }
}