.footer {
    grid-column: container-start / container-end;
    background-color: color(black-color);

    &__content {
        grid-column: center-start / center-end;
        flex-direction: column;
        align-items: center;
        color: color(white-color);

        p {
            margin-bottom: 1.5rem;
        }
    }
}