.navigation {
    &__list {
        display: flex;

        @include media-medium {
            display: none;
        }

        li:not(:last-child) {
            margin-right: calc(1rem + 0.5vw);
        }
    }

    &__item {

        a:link,
        a:active,
        a:visited {
            display: block;
            padding: 0.4vh 0.5vw;
            text-transform: uppercase;
            letter-spacing: 0;
            position: relative;
            color: color(secondary-color);
        }

        a::after,
        a::before {
            border: 1px solid rgba(#fff, 0);
            bottom: 0px;
            content: " ";
            display: block;
            margin: 0 auto;
            transition: all 450ms ease-in-out;
            width: 0;
        }

        a:hover::after,
        a:hover::before {
            border-color: color(white-color);
            width: 100%;
        }
    }
}

// Burger
.nav-burger {
    height: 4.5rem;
    width: 4.5rem;
    background-color: color(white-color);
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    display: none;
    z-index: 10000;

    @include media-medium {
        display: block;
    }

    &:hover {
        background-color: color(secondary-color);
    }

    .nav-burger__lines,
    .nav-burger__lines::before,
    .nav-burger__lines::after {
        content: '';
        position: absolute;
        height: .3rem;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 70%;
        background-color: color(black-color);
        transition: all 350ms ease-in;
    }

    .nav-burger__lines::before {
        top: -2rem;
    }

    .nav-burger__lines::after {
        bottom: -2rem;
    }
}

// Nav for mobiles
.nav-mobile {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-50%);

    &__list {
        text-align: center;
        font-size: font-size(font-size-xlarge);
        padding-bottom: 10rem;
    }

    &__item {
        padding: 1rem;

        &:not(:last-child) {
            border-bottom: 2px solid #fff;
        }

        a:link,
        a:active,
        a:visited {
            display: block;
            text-transform: uppercase;
            color: color(primary-color);
        }
    }
}

// Mobile overlay
.nav-mobile__overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: color(black-color);
    z-index: -1;
    opacity: 0;
    transition: all 350ms ease-in;
    visibility: hidden;
}


// When menu is scrolled
.nav-scrolled {
    .header__logo {
        color: color(black-color);
    }

    .navigation__item {

        a:hover::after,
        a:hover::before {
            border-color: color(black-color);
        }
    }

    .nav-burger {
        background-color: color(black-color);

        &:hover {
            background-color: color(secondary-color);
        }
    }

    .nav-burger__lines,
    .nav-burger__lines::before,
    .nav-burger__lines::after {
        background-color: color(white-color);
    }
}

// When mobile menu is clicked
.open {

    .nav-burger__lines {
        transform: rotate(-130deg);
        width: 50%;
    }

    .nav-burger__lines::before {
        width: 0%;
        opacity: 0;
    }

    .nav-burger__lines::after {
        bottom: 0;
        transform: rotate(80deg);
        width: 100%;
    }
}

.open~.nav-mobile__overlay {
    opacity: 1;
    transition: all 350ms ease-in;
    visibility: visible;
}

.open~.nav-mobile {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms ease-in 150ms;
}