// Custom font import
@font-face {
    font-family: Custom;
    src: url('../../fonts/font-logo-header.otf');
    font-display: swap;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

.heading-primary {
    font-size: font-size(font-size-large);
    color: color(white-color);
    font-weight: font-weight(font-weight-bold);
    font-family: Custom;
    text-align: center;
}

.heading-secondary {
    font-size: font-size(font-size-medium);
    font-family: Custom;
}

.heading-terciary {
    font-size: font-size(font-size-regular);
    font-family: Custom;
}

.heading-quarternary {
    font-size: font-size(font-size-regular);
}

.section-text {
    font-size: font-size(font-size-small);
    text-align: center;
}

.navigation__list {
    font-weight: font-weight(font-weight-bold);
    font-size: 2rem;
}

.header__logo {
    font-size: calc(1rem + 0.6vw);
}